/* Basic Card */

.card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: max-content;
  background-color: var(--white);
  position: relative;
}

.card__information {
  display: flex;
  flex-direction: column;
}

.card__information.card__information--row {
  flex-direction: row;
}

.card__information:hover {
  background-color: var(--primary-100);
}

.card__media {
  object-fit: cover;
  height: 12.5rem;
  max-width: 100%;
  display: flex;
}

.card .card__media {
  border-radius: 5px 5px 0 0;
}
.card--hr .card__media {
  border-radius: 5px 0 0 5px;
}
.card__action-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__action-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card__action--icon {
  height: 45px;
  width: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Full width button card */

.card__media--tall {
  height: 19rem;
}

.card__action-stack {
  display: flex;
  flex-direction: column;
}

/* Horizontal card */
.card.card--hr {
  flex-direction: row;
  width: 34rem;
}
.card__media.card__media--hr {
  width: 14rem;
  height: auto;
}
.card__info-action {
  flex: 1;
}

/* Icon and badge */
.card__badge-icon {
  position: relative;
}
.card__badge {
  position: absolute;
  top: 5px;
  left: -5px;
  background-color: var(--secondary);
  color: var(--white);
  padding: 4px;
}

.card__action--like {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--white);
}

.card__action--like:hover {
  background-color: unset;
}
.card__close {
  position: absolute;
  top: 2px;
  right: 2px;
  color: var(--primary);
  cursor: pointer;
}

.card__text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__primary-info--overlay {
  position: absolute;
  color: var(--white);
}

@media screen and (max-width: 500px) {
  .card.card--hr {
    flex-direction: column;
    width: 22rem;
  }
  .card__media.card__media--hr {
    width: 100%;
    height: auto;
  }
}
