<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/style.css">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="/components/button/button.css">
    <style>
        .card-section {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--grey-100);
        }
    </style>
    <title>Card</title>
</head>

<body>
    <main>
        <section class="card-section">
            <!-- Basic -->
            <div class="card">
                <div class="card__information">
                    <img class="card__media" src="/assets/images/Poster.jpg" alt="poster" srcset="">
                    <div class="card__primary-info p-sm-all">
                        <h3 class="card__title">Article 15</h3>
                        <h4 class="card__subtitle text-grey-500">Ayushman Khurana</h4>
                    </div>
                    <div class="card__secondary-info text-grey-500 p-sm-all">
                        In the rural heartlands of India, an upright police officer sets out on a crusade against
                        violent caste-based crimes and discrimination.
                    </div>
                </div>

                <div class="card__action-container p-xs-all">
                    <div class="card__action-buttons">
                        <button class="btn btn--primary-text p-xs-all m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">WATCH
                        </button>

                        <button class="btn btn--primary-text p-xs-all  m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">BOOKMARK
                        </button>
                    </div>

                    <div class="card__action-icons">
                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                favorite_border
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons  icon-button__icon">
                                share
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                more_vert
                            </span>
                        </button>

                    </div>
                </div>
            </div>

            <!-- Text over media -->
            <div class="card">
                <div class="card__information">
                    <div class="card__text-overlay">
                        <img class="card__media" src="/assets/images/Poster.jpg" alt="poster" srcset="">
                        <div class="card__primary-info card__primary-info--overlay p-sm-all">
                            <h3 class="card__title">Article 15</h3>
                            <h4 class="card__subtitle">Ayushman Khurana</h4>
                        </div>
                    </div>
                    <div class="card__secondary-info text-grey-500 p-sm-all">
                        In the rural heartlands of India, an upright police officer sets out on a crusade against
                        violent caste-based crimes and discrimination.
                    </div>
                </div>

                <div class="card__action-container p-xs-all">
                    <div class="card__action-buttons">
                        <button class="btn btn--primary-text p-xs-all m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">WATCH
                        </button>

                        <button class="btn btn--primary-text p-xs-all  m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">BOOKMARK
                        </button>
                    </div>

                    <div class="card__action-icons">
                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                favorite_border
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons  icon-button__icon">
                                share
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                more_vert
                            </span>
                        </button>

                    </div>
                </div>
            </div>

            <!-- Text only - Shadow -->
            <div class="card shadow">
                <div class="card__close">
                    <span class="material-icons icon-button__icon">
                        close
                    </span>
                </div>
                <div class="card__information">
                    <div class="card__primary-info p-sm-all">
                        <h3 class="card__title">Article 15</h3>
                        <h4 class="card__subtitle text-grey-500">Ayushman Khurana</h4>
                    </div>
                    <div class="card__secondary-info text-grey-500 p-sm-all">
                        In the rural heartlands of India, an upright police officer sets out on a crusade against
                        violent caste-based crimes and discrimination.
                    </div>
                </div>

                <div class="card__action-container p-xs-all">
                    <div class="card__action-buttons">
                        <button class="btn btn--primary-text p-xs-all m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">WATCH
                        </button>

                        <button class="btn btn--primary-text p-xs-all  m-xs-r rounded-sm semibold-font 
                                           card__action card__action--button">BOOKMARK
                        </button>
                    </div>

                    <div class="card__action-icons">
                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                favorite_border
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons  icon-button__icon">
                                share
                            </span>
                        </button>

                        <button class="btn btn--default-text rounded-circle semibold-font
                                           card__action card__action--icon">
                            <span class="material-icons icon-button__icon">
                                more_vert
                            </span>
                        </button>

                    </div>
                </div>
            </div>

            <!-- New Variant -->
            <div class="card">
                <div class="card__information">
                    <div class="card__badge-icon">
                        <img class="card__media card__media--tall" src="/assets/images/Poster.jpg" alt="poster"
                            srcset="">
                        <div class="card__badge p-xxs-all">Trending</div>
                        <button class="btn btn--default-text rounded-circle semibold-font
                            card__action card__action--icon card__action--like">
                            <span class="material-icons icon-button__icon">
                                favorite_border
                            </span>
                        </button>

                    </div>
                    <div class=" card__primary-info text-center p-sm-all">
                        <h3 class="card__title">Article 15</h3>
                        <h4 class="card__subtitle text-grey-500">Ayushman Khurana</h4>
                    </div>
                </div>

                <div class="card__action-stack">
                    <button class="btn btn--primary p-xs-all semibold-font 
                                   card__action card__action--button">WATCH
                    </button>
                </div>
            </div>

            <!-- Horizontal -->
            <div class="card card--hr">
                <img class="card__media card__media--hr" src="/assets/images/Poster.jpg" alt="poster" srcset="">
                <div class="card__info-action m-sm-all">
                    <div class="card__information">
                        <div class="card__primary-info p-sm-all">
                            <h3 class="card__title">Article 15</h3>
                            <h4 class="card__subtitle text-grey-500">Ayushman Khurana</h4>
                        </div>
                        <div class="card__secondary-info text-grey-500 p-sm-all">
                            In the rural heartlands of India, an upright police officer sets out on a crusade
                            against
                            violent caste-based crimes and discrimination.
                        </div>
                    </div>
                    <div class="card__action-stack p-xs-all m-xl-t">
                        <button class="btn btn--primary p-xs-all m-xs-vr semibold-font 
                                   card__action card__action--button">WATCH
                        </button>
                        <button class="btn btn--default p-xs-all m-xs-vr semibold-font 
                        card__action card__action--button">BOOKMARK
                        </button>
                    </div>

                </div>


            </div>
        </section>
    </main>
</body>

</html>