<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/common/style.css">
    <link rel="stylesheet" href="button.css">
    <style>
        .button-container {
            display: flex;
            flex-direction: column;
        }

        .button-variant {
            display: flex;
        }
    </style>
    <title>Button</title>
</head>

<body>

    <div class="button-container p-lg-all">
        <!-- Contained Button -->
        <div class="button-variant m-lg-all">

            <button class="btn btn--default p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Default</button>

            <button class="btn btn--primary p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Primary</button>

            <button class="btn btn--success p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Success</button>

            <button class="btn btn--error p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Error</button>


            <button class="btn btn--default-disabled p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Disabled</button>

            <button class="btn btn--primary-disabled p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Disabled</button>

        </div>

        <!-- Outline Button -->
        <div class="button-variant m-lg-all">

            <button class="btn btn--default-outline p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Default</button>

            <button class="btn btn--primary-outline p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Primary</button>

            <button class="btn btn--success-outline p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Success</button>

            <button class="btn btn--error-outline p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Error</button>

            <button
                class="btn btn--default-outline-disabled p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Disabled</button>

            <button
                class="btn btn--primary-outline-disabled p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Disabled</button>

        </div>

        <!-- Text Button -->
        <div class="button-variant m-lg-all">

            <button class="btn btn--default-text p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Default</button>

            <button class="btn btn--primary-text p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">Primary</button>

        </div>

        <!-- Link -->
        <div class="button-variant m-lg-all">
            <button class="btn btn--primary p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">
                <a href="/assets/images/Ayushman.jpg">Link</a>
            </button>

            <button class="btn btn--primary-outline p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r">
                <a href="/assets/images/Ayushman.jpg">Link</a>
            </button>

            <button class="btn btn--primary-link p-xs-vr p-sm-hr rounded-sm semibold-font m-lg-r"><a
                    href="/assets/images/Ayushman.jpg">Link</a>
            </button>
        </div>
    </div>


</body>

</html>