<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <title>Document</title>
</head>

<body>

    <div class="badge-container p-lg-all">
        <!-- Badge on icons -->
        <div class="badge-variant m-lg-all">

            <button class="button-icon rounded-circle center-content m-md-r">
                <span class="material-icons material-icons--notification">
                    shopping_cart
                </span>
                <span class="icon-badge rounded-circle center-content bold-font">10+</span>
            </button>

            <button class="button-icon rounded-circle center-content m-md-r">
                <span class="material-icons material-icons--notification">
                    shopping_cart
                </span>
                <span class="icon-badge rounded-circle center-content bold-font">100+</span>
            </button>

            <button class="button-icon rounded-circle center-content m-md-r">
                <span class="material-icons material-icons--notification">
                    email
                </span>
                <span class="icon-badge rounded-circle center-content bold-font">100+</span>
            </button>

            <button class="button-icon rounded-circle center-content m-md-r">
                <span class="material-icons material-icons--notification">
                    notifications
                </span>
                <span class="icon-badge rounded-circle center-content bold-font">100+</span>
            </button>

        </div>

        <!-- Badge on Avatar -->
        <div class="badge-variant m-lg-all">

            <div class="parent-badge m-md-r">
                <img src="/assets/images/Ayushman.jpg" class="avatar-md rounded-circle" alt="Avatar" />
                <div class="avatar-badge avatar-badge--online rounded-circle"></div>
            </div>

            <div class="parent-badge m-md-r">
                <img src="/assets/images/Ayushman.jpg" class="avatar-md rounded-circle" alt="Avatar" />
                <div class="avatar-badge avatar-badge--offline rounded-circle"></div>
            </div>

            <div class="parent-badge m-md-r">
                <img src="/assets/images/Ayushman.jpg" class="avatar-md rounded-circle" alt="Avatar" />
                <div class="avatar-badge avatar-badge--busy rounded-circle"></div>
            </div>
        </div>
    </div>
</body>

</html>