:root {
  --primary: #fb923c;
  --primary-300: #fdba74;
  --primary-200: #fed7aa;
  --primary-100: #ffedd5; /*hover*/
  --primary-50: #fff7ed;

  --secondary: #005062;

  --success: #48c479;
  --danger: #f44336;
  --warning: #db7c38;

  --white: #ffffff;
  --lynx-white: #f5f5f5;

  --grey: #9a9a9a;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;

  --black: #282828;
  --light-black: #000;

  --red: #ef4444;
}
