.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-msg {
  color: var(--danger);
}

.center-content-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
