<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <title>Document</title>
</head>

<body>
    <!-- Basic Alert  -->
    <div class="alert-container p-lg-all">

        <div class="alert alert--success  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a success alert</p>
        </div>

        <div class="alert alert--error  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an error alert</p>
        </div>

        <div class="alert alert--warning  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a warning alert</p>
        </div>

        <div class="alert alert--info  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an info alert</p>
        </div>

    </div>

    <!-- Dismiss Alert  -->
    <div class="alert-container p-lg-all">

        <div class="alert alert--success p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a success alert</p>
            <button class="alert__action alert__action--dismiss">
                <span class="material-icons material-icons--close">
                    close
                </span>
            </button>
        </div>

        <div class="alert alert--error p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an error alert</p>
            <button class="alert__action alert__action--dismiss">
                <span class="material-icons material-icons--close">
                    close
                </span>
            </button>
        </div>

        <div class="alert alert--warning  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a warning alert</p>
            <button class="alert__action alert__action--dismiss">
                <span class="material-icons material-icons--close">
                    close
                </span>
            </button>
        </div>

        <div class="alert alert--info  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an info alert</p>
            <button class="alert__action alert__action--dismiss">
                <span class="material-icons material-icons--close">
                    close
                </span>
            </button>
        </div>
    </div>

    <!-- Outline Alert -->
    <div class="alert-container p-lg-all">

        <div class="alert alert--success-outline  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a success alert</p>
        </div>

        <div class="alert alert--error-outline  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an error alert</p>
        </div>

        <div class="alert alert--warning-outline  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is a warning alert</p>
        </div>

        <div class="alert alert--info-outline  p-sm-all m-xs-all rounded-sm" role="alert">
            <p class="text-sm semibold-font">This is an info alert</p>
        </div>

    </div>

</body>

</html>