@import url(/common/style.css);

.alert-container {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-100);
}

/* Start Alert CSS  */

.alert {
  max-width: 800px;
  min-width: 300px;
  display: flex;
  color: var(--lynx-white);
}

/* Basic Alert */
.alert--success {
  background-color: var(--success);
}
.alert--error {
  background-color: var(--danger);
}

.alert--warning {
  background-color: var(--warning);
}
.alert--info {
  background-color: var(--secondary);
}

/* Dismiss Alert */
.alert__action--dismiss {
  margin-left: auto;
  color: var(--lynx-white);
  cursor: pointer;
}

/* Outline Alert */
.alert--success-outline {
  border: 1px solid var(--success);
  color: var(--success);
}
.alert--error-outline {
  border: 1px solid var(--danger);
  color: var(--danger);
}

.alert--warning-outline {
  border: 1px solid var(--warning);
  color: var(--warning);
}
.alert--info-outline {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
/* End Alert CSS  */
